@import "mocha.css";
* {
	border: none;
	font-size: 14px;
	font-family: "RobotoMono Nerd Font";
	font-weight: bold;
	min-height: 25px;
}

window#waybar {
	background: transparent;
	margin: 5px;
}

#custom-logo {
	padding: 0 10px;
	color: @sapphire;
}

.modules-right {
	border-radius: 0 0 0 15px;
	padding: 0 15px;
	background-color: @base;
}

.modules-center {
	padding: 0 15px;
	border-radius:0  0 15px 15px;
	background-color: @base;
}

.modules-left {
	border-radius: 0 0 15px 0;
	padding: 0 15px;
	background-color: @base;
}

#battery,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#cpu,
#temperature,
#window,
#workspaces,
#tray,
#clock {
	color: @text;
	padding: 0 5px;
}

#temperature.critical,
#pulseaudio.muted {
	color: @red;
	padding-top: 0;
}

#battery.charging {
	color: @lavender;
}

#battery.warning:not(.charging) {
	color: @red;
}

#battery.critical:not(.charging) {
	color: @red;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#workspaces button,
#tags button {
	background: transparent;
	color: @text;
}

#workspaces button:hover,
#tags button:hover {
	background: none;
	box-shadow: none;
	border: none;
	text-shadow: none;
	color: @subtext0;
}



#workspaces button.focused,
#workspaces button.active,
#workspaces button.visible,
#tags button.focused,
#tags button.active,
#tags button.visible {
	color: @sapphire;
}


@keyframes blink {
	to {
		color: @base;
	}
}
