@define-color base #191724;
@define-color surface #1f1d2e;
@define-color overlay #26233a;

@define-color muted #6e6a86;
@define-color subtle #908caa;
@define-color text #e0def4;

@define-color love #eb6f92;
@define-color gold #f6c177;
@define-color rose #ebbcba;
@define-color pine #31748f;
@define-color foam #9ccfd8;
@define-color iris #c4a7e7;

@define-color highlightLow #21202e;
@define-color highlightMed #403d52;
@define-color highlightHigh #524f67;

* {
	border: none;
	font-size: 14px;
	font-family: "RobotoMono Nerd Font";
	font-weight: bold;
	min-height: 25px;
}

window#waybar {
	background: transparent;
	margin: 5px;
}

#custom-logo {
	padding: 0 10px;
	color: @gold;
}

.modules-right {
	border-radius: 15px 0 0 15px;
	padding: 0 15px;
	background-color: @base;
}

.modules-center {
	padding: 0 15px;
	border-radius: 15px 15px 15px 15px;
	background-color: @base;
}

.modules-left {
	border-radius: 0 15px 15px 0;
	padding: 0 15px;
	background-color: @base;
}

#battery,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#cpu,
#temperature,
#window,
#workspaces,
#clock {
	color: @text;
	padding: 0 5px;
}

#temperature.critical,
#pulseaudio.muted {
	color: @love;
	padding-top: 0;
}

#battery.charging {
	color: @gold;
}

#battery.warning:not(.charging) {
	color: @love;
}

#battery.critical:not(.charging) {
	color: @love;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#workspaces button,
#tags button {
	background: transparent;
	color: @text;
}

#workspaces button:hover,
#tags button:hover {
	background: none;
	box-shadow: none;
	border: none;
	text-shadow: none;
	color: @iris;
}



#workspaces button.focused,
#workspaces button.active,
#workspaces button.visible,
#tags button.focused,
#tags button.active,
#tags button.visible {
	color: @gold;
}


@keyframes blink {
	to {
		color: @base;
	}
}
