* {
	font-family: "JetBrains Mono", monospace;
	font-size: 13px;
	font-weight: bold;
}
window#waybar {
	background: #1f1f28; 
	color: #dcd7ba;      
}

.modules-left,
.modules-center,
.modules-right {
  margin: 0 30px;
}

#workspaces button {
	padding: 0px;
	border-radius: 0px;
}

#workspaces button.active {
	color: #c0a36e;
}

#workspaces button:hover {
	background: #313244; 
}

